/*=====================================
Estilos propios
======================================*/

/*Main*/

footer{ background: #4b354c;}
header{background:#4b354c; text-align: center; padding: 200px 0;}

/*Structure*/
.container{padding: 100px 0 100px 0;}
.section{padding: 80px 0; }
.headerWrapper{ background: url(../img/header-background.jpg) no-repeat center center; background-size: cover; width: 100%;}
#about{background:#fff;}
#education{background:#eaedf2;  text-align: center;}
#education h2{text-align: center;}
#experience{ background: blue;}
#work{background:#fff;}
#interest{background:#eaedf2;}
#contact{background: #fff;}
#work{background: #fff;}
#skills{background: #093;}
#quote{background: #a3d; text-align: center;}
#interest{background: gray;}
#contact{background: yellow;}

/*Svg*/
.lil{width: 110px;}
.lil path {fill:#ffffff;}

/* Spans */
.name{font-size:44px; font-weight: 600; font-family: 'Source Sans Pro', sans-serif; color:white;}
.skill{ font-size: 20px; font-weight: 200; font-family: 'Source Sans Pro',sans-serif;color:white;}
.subtitle{ font-size: 20px; font-weight: 200; font-family: 'Source Sans Pro',sans-serif;color:gray; text-align: center;}
